.video--card {
  position: relative; /*maybe i'll delete this*/
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  z-index: 0;
  border: 1px solid black;
}
.video--player {
  object-fit: fill; /*maybe i'll delete this*/
  width: 100%;
  height: 100%;
  z-index: 0;
}
