.video--footer {
  position: relative;
  margin-left: 20px;
  bottom: 100px;
}
.footer--elements {
  position: absolute;
  bottom: 0;
  display: flex;
  color: white;
  margin-bottom: 20px;
}
.footer--elements > h3 {
  margin-left: 10px;
  padding-bottom: 20px;
  font-size: 15px;
}

.footer--elements > h3 > button {
  color: white;
  font-weight: 900;
  text-transform: inherit;
}
.video--ticker {
  width: 60%;
  margin-left: 30px;
  height: fit-content;
}
.video--ticker h3 {
  font-size: 12px;
  color: white;
  position: absolute;
  animation-duration: 1s;
  animation-name: slidein;
  top: 35px;
  letter-spacing: 5px;
}
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.music--icon {
  position: absolute;
  left: 0px;
  color: white;
  top: 32px;
}
.video--actions {
  position: absolute;
  height: 100%;
  color: white;
  margin-left: 86%;
  flex-wrap: nowrap;
  bottom: 140px;
}

.video--actions--right > .MuiSvgIcon-root {
  display: flex;
  padding-bottom: 10px;
  right: 0;
}
.video--stat {
  right: 0;
  flex-flow: column;
  height: 100%;
  padding-bottom: 50px;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0;
}

.video--stat > p {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 10px;
  text-align: center;
}
